<p class="page-title"><%= @category_japanese %>に項目を追加</p>
<% if @skill.errors.any? %>
  <ul id="error_explanation">
    <% @skill.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: [@user, @skill], url: create_user_skill_path(user_id: @user.id, category: @category || 'default_category'), local: true, data: { skill_new_form: true }) do |form| %>
  <div class="skill-new-field">
  <%= form.label :skill, "項目名", class: 'label', for: "skill_name" %>
  <%= form.text_field :skill, class: "form-control", id: "skill_name", class: 'form' %>
  </div>

  <div class="skill-new-field">
  <%= form.label :learning_time, "学習時間", class: 'label', for: "learning_time" %>
  <%= form.number_field :learning_time, class: "form-control", step: 1, min: 1, id: "learning_time", class: 'form-number' %>
  <%= form.label :learning_time, "分単位で入力してください", class: 'label', for: "learning_time" %>
  </div>

  <%= form.hidden_field :category, value: @category, id: "category" %>

  <div class="skill-new-submit">
    <%= form.submit "追加する", class: "button-skill-new" %>
  </div>
<% end %>

<div id="myModal" class="modal" style="display: none;">
  <div class="modal-content">
    <p id="modal-message"></p>
    <button id="return-button" onclick="returnToIndexPage()">編集ページに戻る</button>
  </div>
</div>

<script>
  function showModal(message) {
    var modal = document.getElementById("myModal");
    var modalMessage = document.getElementById("modal-message");

    modalMessage.innerHTML = message;
    modal.style.display = "block";
  }

  function hideModal() {
    var modal = document.getElementById("myModal");
    modal.style.display = "none";
  }

  document.addEventListener("DOMContentLoaded", function () {
    var form = document.querySelector("[data-skill-new-form]");
    var returnButton = document.getElementById("return-button");

    form.addEventListener("submit", function (e) {
      e.preventDefault();

      var skillName = document.getElementById("skill_name").value;
      var learningTime = document.getElementById("learning_time").value;
      var category = document.getElementById("category").value;

      fetch(`/users/<%= @user.id %>/skills/${category}/create`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          skill: {
            skill: skillName,
            learning_time: learningTime,
            category: category,
          },
        }),
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
          if (data.errors) {
            var errorMessage = data.errors.join('<br>');
            showModal(errorMessage);
            returnButton.textContent = "新規登録画面に戻る";
            returnButton.onclick = function() {
              const currentURL = window.location.href;
              window.location.href = currentURL;
            };
          } else if (data.modal_message) {
            showModal(data.modal_message);
            returnButton.onclick = function() {
            window.location.href = "<%= user_skills_path(@user) %>";
            };
          }
        })
        .catch(function (error) {
          console.error(error);
        });
    });
  });
</script>
